@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;900&display=swap');

body{
    background-color: #181b1f;
    padding: 0;
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    background-image: url("placki.jpg");
    transition: 9999999s;
}

body:hover{
    transform: rotate(99999999deg);
    transition: 9999999s;
}

#baner img{
    display: block;
    margin: auto 50px;
    width: 500px;
    border-radius: 50px;
}

#box{
    font-size: 18px;
    color: #d6e5f3;
    width: 60%;
    letter-spacing: 1.5px;
}
